/* .header {
  text-align: left; 
  background-color: #4dabf7;
  padding: 1.5% 1%;
  font-size: 24px;
  align-items: center;
  color: white;
}
.leftArrowButton{
  width: 2%;
  color: white!important;
  margin-bottom: -8px;
} */

/* .m_7485cace {
      --container-size-md: calc(160rem * var(--mantine-scale));
} */

.container {
  margin-inline: 5%;
  margin-block: 1rem;
}

