.container {
  margin-inline: 5%;
  margin-block: 1rem;
}
.icons{
  display: flex;
  gap: 10px;
  width: 12px;
  height: 15px;
  padding-top: 28%;
  padding-left: 30%;
}
.TextInput{
  width: 50%;
  height: 30%;
  margin-bottom: 10px;
}
.SwitchBody{
  margin-bottom: 12px;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.table{
  width: 50%;
}
.lable{
  height: 30px;
}


